<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="MTKhan_Dentist.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        
       <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
            <a class="navbar-brand d-flex align-items-center" runat="server" href="~/">
    <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="1.3" style="margin-right: 8px;">
        <path d="M12 2.5C9.8 2.5 8 3 6.8 4C5.7 4.9 5 6.2 5 8C5 9 5.3 9.8 5.6 10.7C5.9 11.5 6.2 12.4 6.3 13.6C6.4 15.2 6.5 17 6.9 18.5C7.2 19.6 7.6 20.6 8.4 20.9C9.3 21.2 9.7 20.2 9.9 19.1C10.1 18 10.2 16.7 10.5 15.8C10.7 15.2 11 14.8 12 14.8C13 14.8 13.3 15.2 13.5 15.8C13.8 16.7 13.9 18 14.1 19.1C14.3 20.2 14.7 21.2 15.6 20.9C16.4 20.6 16.8 19.6 17.1 18.5C17.5 17 17.6 15.2 17.7 13.6C17.8 12.4 18.1 11.5 18.4 10.7C18.7 9.8 19 9 19 8C19 6.2 18.3 4.9 17.2 4C16 3 14.2 2.5 12 2.5Z"/>
        <path d="M8.5 5.5C9.5 4.7 10.7 4.3 12 4.3C13.3 4.3 14.5 4.7 15.5 5.5" stroke-width="1"/>
    </svg>
    DR MT KHAN DENTAL
</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/About">About</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/Contact">Contact</a></li>
                       <li class="nav-item dropdown">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="privateAreaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Account</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="privateAreaDropdown">
                        <li><h6 class="dropdown-header">Patient</h6></li>
                         <li><a class="dropdown-item" href="/PrivatePages/PatientDashboard.aspx">Patient Dashboard</a></li>
                        <li><a class="dropdown-item" href="/PrivatePages/MyAppointments.aspx">My Appointments</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Staff</h6></li>
                        <li><a class="dropdown-item" href="/PrivatePages/StaffDashboard.aspx">Staff Dashboard</a></li>
                        <li><a class="dropdown-item" href="/PrivatePages/ManageSchedule.aspx">Manage Schedule</a></li>
                        <li><a class="dropdown-item" href="/PrivatePages/Reports.aspx">Reports</a></li>
                    </ul>
                </li>
                    </ul>
                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <ul class="navbar-nav navbar-right">
                                <li><a runat="server" class="nav-link" href="~/Account/Register">Register</a></li>
                                <li><a runat="server" class="nav-link" href="~/Account/Login">Log in</a></li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <ul class="navbar-nav navbar-right">
                                <li><a runat="server" class="nav-link" href="~/Account/Manage" title="Manage your account">Hello, <%: Context.User.Identity.GetUserName()  %> !</a></li>
                                <li>
                                    <asp:LoginStatus runat="server" CssClass="nav-link" LogoutAction="Redirect" LogoutText="Log off" LogoutPageUrl="~/" OnLoggingOut="Unnamed_LoggingOut" />
                                </li>
                            </ul>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - My ASP.NET Application</p>
            </footer>
        </div>
    </form>
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/Scripts/bootstrap.bundle.js") %>
    </asp:PlaceHolder></body>
</html>
